<div class="sidebar">
  <h5>Hello, <%= user.name %></h5>

  <a
    href="/user/profile"
    class="<%= currentURL === '/user/profile' ? 'active' : '' %>"
  >
    Profile
  </a>
  <a
    href="/user/manage-address"
    class="<%= currentURL === '/user/manage-address' ? 'active' : '' %>"
  >
    Add Address
  </a>
  <a
    href="/user/view-address"
    class="<%= currentURL === '/user/view-address' ? 'active' : '' %>"
  >
    View Address
  </a>
  <a
    href="/user/orders"
    class="<%= currentURL === '/user/orders' ? 'active' : '' %>"
  >
    My Orders
  </a>
  <a
    href="/user/coupons"
    class="<%= currentURL === '/user/coupons' ? 'active' : '' %>"
  >
    My Coupons
  </a>
  <a
    href="/user/wallet"
    class="<%= currentURL === '/user/wallet' ? 'active' : '' %>"
  >
    My Wallet
  </a>
  <a
    href="/user/reviews"
    class="<%= currentURL === '/user/reviews' ? 'active' : '' %>"
  >
    My Ratings & Reviews
  </a>
  <a
    href="/user/change-password"
    class="<%= currentURL === '/user/change-password' ? 'active' : '' %>"
  >
    Change Password
  </a>
</div>
