<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Details</title>

    <!-- css -->
    <link rel="stylesheet" href="/admin/stylesheets/userDetails.css" />

    <!-- bootstrap -->
    <%- include("../partials/admin/bootLink.ejs") %>

    <!-- icon link -->
    <%- include("../partials/user/iconLink.ejs") %>
  </head>
  <body>
    <!-- header nav -->
    <%- include("../partials/admin/adminHeader.ejs") %>

    <!-- alert -->
    <%- include("../partials/user/alertMessage.ejs") %>

    <!-- Modal -->
    <div
      class="modal fade"
      id="block-model"
      tabindex="-1"
      aria-labelledby="block-model-Label"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="block-model-Label">
              Confirmation
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Are you sure you want to block <%= user.name %>?

            <div id="reasonContainer" class="my-3">
              <label for="blockReason" class="form-label"></label>
                Reason for blocking
                <span class="text-danger">*</span>
              </label>
              <textarea
                class="form-control"
                id="blockReason"
                rows="2"
                required
              ></textarea>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-danger"
              id="blockUserBtn"
            >
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- main section -->
    <section class="main-section" style="min-height: calc(100vh - 130px)">
      <div class="wrapper container-fluid d-flex">
        <!-- sidebar -->
        <div class="sidebar" style="width: 170px">
          <%- include("../partials/admin/adminNavbar.ejs") %>
        </div>

        <!-- offcanvas -->
        <%- include("../partials/admin/offCanvas.ejs") %>

        <!-- main section -->
        <div class="content p-3" style="flex-grow: 1">
      <div
        class="d-flex main-row"
        style="
          flex-direction: column;
          align-items: center;
        "
      >
        <h2>User Details</h2>
        <div class="col-12">
          <div class="d-flex justify-content-center mt-4">
          <div class="row details-row" style="width: 600px;">
            <div class="col-6 text-start">
              <p><strong>User name</strong></p>
              <hr>
              <p><strong>User email</strong></p>
              <hr>
              <p><strong>User Phone:</strong></p>
              <hr>
              <p><strong>User status</strong></p>
              <hr>
              <p><strong>Date of register</strong></p>
              <hr>
            </div>
            <div class="col-6 text-end">
              <p><%= user.name %></p>
              <hr>
              <p><%= user.email %></p>
              <hr>
              <p><%= user.phone || "NIL" %></p>
              <hr>
              <p>
                <% if (user.isBlocked === false) { %>
                <span style="color: green">Active ⬤</span>
                <% } else { %>
                <span style="color: red">Blocked ⬤</span>
                <% } %>
              </p>
              <hr>
              <p><%= user.createdAt %></p>
              <hr>
            </div>  
          </div>
        </div>
        </div>
        <div class="col-12 text-center btnss">
          <% if (!user.isBlocked) { %>
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-toggle="modal"
            data-bs-target="#block-model"
          >
            Block
          </button>
          <% } else { %>
          <button class="btn btn-outline-success" id="unblockUserBtn">
            Un-block
          </button>
          <% } %>
        </div>
      </div>
    </div>
    </div>
    </section>

    <!-- footer -->
    <%- include("../partials/admin/adminFooter.ejs") %>

    <!-- js logout validation file -->
    <script src="/admin/front-end-validation/logoutValidation.js"></script>

    <!-- bootstrap -->
    <%- include("../partials/admin/bootScript.ejs") %>

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Custom JS -->
    <script src="/admin/helper/blockUserHelper.js"></script>
  </body>
</html>
