<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reviews</title>

    <!-- css -->
    <link rel="stylesheet" href="/user/stylesheets/allReviews.css" />

    <!-- icon link -->
    <%- include("../partials/user/iconLink.ejs") %>

    <!-- bootstrap link -->
    <%- include("../partials/admin/bootLink.ejs") %>
  </head>
  <body>
    <!-- navbar -->
    <header><%- include("../partials/user/userNavbar.ejs") %></header>

    <!-- alert -->
    <%- include("../partials/user/alertMessage.ejs") %>

    <section class="container-main">
      <!-- Sidebar -->
      <%- include("../partials/user/sideBar.ejs") %>

      <!-- Review Section -->
      <div class="content">
        <h2 class="mb-4">Reviews (<%= reviews.length %>)</h2>
        <% reviews.forEach((review)=> { %>
        <div
          class="row my-2 p-2"
          style="
            justify-content: space-around;
            align-items: center;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px;
          "
        >
          <div class="col-2">
            <a
              style="text-decoration: none; color: inherit"
              href="/user/shop/product/<%= review.product_id._id %>"
            >
              <div
                class="d-flex"
                style="align-items: center; flex-direction: column"
              >
                <img
                  style="width: 70px"
                  src="<%= review.product_id.images[0].cropped_url || review.product_id.images[0].original_url %>"
                  alt="book cover"
                />
                <div class="text-center"><%= review.product_id.name %></div>
              </div>
            </a>
          </div>
          <div class="col-1">
            <div class="rating-badge">
              <small><%= review.rating %></small>
              <span class="star-icon">★</span>
            </div>
          </div>
          <div class="col-5">
            <%= review.description %>
            <p class="m-0">
              <small class="text-muted" style="font-size: 12px">
                <%= moment(review.createdAt).format( "MMMM Do YYYY" ); %>
              </small>
              <a
                style="text-decoration: none"
                href="/user/review/update/<%= review._id %>"
              >
                <i class="ms-2 fa-solid fa-pen-to-square"></i>
              </a>
              <a style="cursor: pointer">
                <i
                  class="ms-2 fa-solid fa-trash text-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                  data-review-id="<%= review._id %>"
                  data-product-name="<%= review.product_id.name %>"
                ></i>
              </a>
            </p>
          </div>
        </div>
        <% }) %>
      </div>

      <!-- Delete Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1
                class="modal-title fs-5 text-center w-100"
                id="staticBackdropLabel"
              >
                Delete confirmation
              </h1>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this review?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                No
              </button>
              <button
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >
                Yes
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer partial -->
    <footer><%- include("../partials/user/userFooter.ejs") %></footer>

    <!-- logout -->
    <script src="/user/helper/logoutHelper.js"></script>

    <!-- pending user clear -->
    <script src="/user/helper/removePendingUser.js"></script>

    <!-- ratings helper -->
    <script src="/user/helper/ratingsUpdateHelper.js"></script>

    <!-- review delete helper -->
    <script src="/user/helper/reviewDeleteHelper.js"></script>

    <!-- Include Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- bootstrap -->
    <%- include("../partials/admin/bootScript.ejs") %>
  </body>
</html>
