<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <!-- bootstrap -->
    <%- include("../partials/admin/bootLink.ejs") %>

    <!-- icon link -->
    <%- include("../partials/user/iconLink.ejs") %>

    <!-- css -->
    <link rel="stylesheet" href="/user/stylesheets/landingPage.css" />
  </head>
  <body>
    <header><%- include("../partials/user/userNavbar.ejs") %></header>

    <!-- error alert -->
    <div class="alert-bad d-none text-center" style="position: fixed"></div>

    <!-- success alert -->
    <div class="alert-good d-none text-center" style="position: fixed"></div>

    <!-- info section  -->
    <section class="container-fluid p-0">
      <div class="info" style="height: 500px; position: relative">
        <div class="overlay-text">
          <div class="top-content">
            <h1
              style="
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 10px;
              "
            >
              <strong>Welcome to Book-Cycle!</strong>
            </h1>
            <p
              class="fs-4 px-2"
              style="
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 10px;
              "
            >
              <strong
                >Dive into a real book. Find your next adventure here!</strong
              >
            </p>
          </div>
          <a
            class="btn btn-outline-success bottom-content"
            style="border: none"
            href="/user/shop"
          >
            <strong style="color: white">Buy books, not bandwidth</strong>
          </a>
        </div>
      </div>
    </section>

    <section class="container-fluid p-0 mb-5">
      <!-- banners -->
      <div class="banner mt-2 mx-2">
        <div id="offerCarousel" class="carousel slide" data-bs-ride="carousel">
          <div
            class="carousel-inner p-0"
            style="border-radius: 0; box-shadow: none !important"
          >
            <% banners.forEach((banner, index) => { %>
            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
              <img
                src="<%= banner.image.url %>"
                class="d-block w-100 h-100 offer-banner-img"
                alt="Offer Banner"
                style="object-fit: fill !important"
              />
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </section>

    <section class="container mt-4 mb-4">
      <!-- main section  -->
      <h2 class="text-center">Explore Categories</h2>
      <div class="row text-center">
        <div class="col-md-4">
          <a href="/user/shop?category=Comic">
            <img
              src="/images/old-vintage-cartoon-comic-books-collection-31771038.webp"
              class="img-fluid"
            />
            <p>Comic</p>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/user/shop?category=Science">
            <img
              src="/images/science-books-shelf-open-book-glasses-lettering-science-books-shelf-open-book-glasses-lettering-white-135179577.webp"
              class="img-fluid"
            />
            <p>Science</p>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/user/shop?category=Romance">
            <img
              src="/images/istockphoto-503130452-612x612.webp"
              class="img-fluid"
            />
            <p>Romance</p>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/user/shop?category=Mystery">
            <img
              src="/images/best-mystery-books-slideshow-thumb-1684970205266.webp"
              class="img-fluid"
            />
            <p>Mystery</p>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/user/shop?category=Adventure">
            <img src="/images/TABoriginal-1.webp" class="img-fluid" />
            <p>Adventure</p>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/user/shop?category=Fiction">
            <img src="/images/1735392632316.webp" class="img-fluid" />
            <p>Fiction</p>
          </a>
        </div>
      </div>
      <!-- new arrivals -->
      <h2 class="text-center mt-5">New Arrivals</h2>
      <div id="bookCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% products.filter(product => !product.is_deleted).forEach((product,
          index, filteredProducts) => { %>
          <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
            <div class="text-center">
              <a href="/user/shop/product/<%= product._id %>"
                ><img
                  src="<%= product.images[0].cropped_url ? product.images[0].cropped_url : product.images[0].original_url %>"
                  class="d-block mx-auto car-image"
                  style="height: 300px"
              /></a>

              <h5><%= product.name %></h5>
              <p>&#8377; <%= product.final_price %></p>
              <button
                class="btn btn-outline-dark mt-3 add-to-cart-btn"
                data-product-id="<%= product._id %>"
              >
                Add to Cart
              </button>
            </div>
          </div>
          <% }) %>
        </div>

        <% if (products.filter(product => !product.is_deleted).length > 1) { %>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#bookCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#bookCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
        </button>
        <% } %>
      </div>
    </section>

    <!-- footer partial -->
    <footer><%- include("../partials/user/userFooter.ejs") %></footer>

    <!-- logout -->
    <script src="/user/helper/logoutHelper.js"></script>

    <!-- pending user clear -->
    <script src="/user/helper/removePendingUser.js"></script>

    <!-- Add to cart helper -->
    <script src="/user/helper/addToCartHelper.js"></script>

    <!-- Include Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- bootstrap -->
    <%- include("../partials/admin/bootScript.ejs") %>
  </body>
</html>
