<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>

    <!-- css -->
    <link rel="stylesheet" href="/user/stylesheets/registerPage.css" />

    <!-- icon link -->
    <%- include("../partials/user/iconLink.ejs") %>

    <!-- bootstrap link -->
    <%- include("../partials/admin/bootLink.ejs") %>
  </head>
  <body>
    <!-- navbar -->
    <header><%- include("../partials/user/userNavbar.ejs") %></header>

    <!-- main section -->
    <section
      class="container"
      style="
        min-height: calc(100vh - 212px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      "
    >
      <!-- error alert -->
      <div class="alert-bad d-none text-center" style="position: fixed"></div>

      <!-- success alert -->
      <div class="alert-good d-none text-center" style="position: fixed"></div>

      <div class="row w-100 main-form">
        <!-- left side  -->
        <div class="col-6 left-side"></div>

        <!-- right-side -->
        <div class="col-6 right-side">
          <div
            class="row h-100"
            style="
              justify-content: center;
              align-items: center;
              flex-direction: column;
            "
          >
            <div class="col-auto my-5">
              <h3 class="card-title text-center">Set password</h3>
            </div>

            <div class="col">
              <form
                novalidate
                class="text-center form d-flex"
                id="signup-form"
                style="
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                "
              >
                <div class="form-floating mb-3">
                  <input
                    style="min-width: 300px"
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    placeholder="Password"
                  />
                  <label for="password">Password</label>
                  <span id="passwordHelpInline" class="form-text">
                    Must be at least 10 characters long
                  </span>
                </div>
                <div class="form-floating mb-3">
                  <input
                    style="min-width: 300px"
                    type="password"
                    class="form-control"
                    name="Confirm password"
                    id="Confirm_password"
                    placeholder="Confirm password"
                  />
                  <label for="Confirm_password">Confirm password</label>
                </div>
                <button
                  type="submit"
                  class="btn btn-outline-dark btn-small login"
                  style="border: none"
                >
                  Set password
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer partial -->
    <%- include("../partials/user/userFooter.ejs") %>

    <!-- include Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- pending user clear -->
    <script src="/user/helper/removePendingUser.js"></script>

    <!-- password validation -->
    <script src="/user/validation/setPasswordValidation.js"></script>

    <!-- bootstrap -->
    <%- include("../partials/admin/bootScript.ejs") %>
  </body>
</html>
