<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>

    <!-- css -->
    <link rel="stylesheet" href="/user/stylesheets/shoppingPage.css" />

    <!-- icon link -->
    <%- include("../partials/user/iconLink.ejs") %>

    <!-- bootstrap link -->
    <%- include("../partials/admin/bootLink.ejs") %>
  </head>
  <body>
    <!-- navbar -->
    <header><%- include("../partials/user/userNavbar.ejs") %></header>

    <!-- error alert -->
    <div class="alert-bad d-none text-center" style="position: fixed"></div>

    <!-- success alert -->
    <div class="alert-good d-none text-center" style="position: fixed"></div>

    <!-- main section -->
    <section class="container mt-4" style="min-height: calc(100vh - 212px)">
      <!-- Breadcrumbs -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/user/home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Shop</li>
        </ol>
      </nav>

      <!-- Filter Button -->
      <button class="btn btn-primary" id="filter-btn">Filter</button>
      <div
        class="d-flex d-none"
        id="filter-section"
        style="justify-content: space-between"
      >
        <div
          class="mt-3 d-flex"
          style="align-items: start; flex-direction: column; width: fit-content"
        >
          <select id="category" class="form-control mb-2">
            <option value="">Select Category</option>
            <% categories.forEach(category => { %>
            <option value="<%= category.category %>">
              <%= category.category %>
            </option>
            <% }) %>
          </select>

          <input
            type="number"
            id="min-price"
            class="form-control mb-2"
            placeholder="Min Price"
            min="0"
          />

          <input
            type="number"
            id="max-price"
            class="form-control mb-2"
            placeholder="Max Price"
            min="0"
            max="5000"
          />

          <input
            type="number"
            id="rating"
            class="form-control mb-2"
            placeholder="Rating (1-5)"
            min="0"
            max="5"
          />

          <button class="btn btn-success mt-2" id="apply-filters">
            Apply Filters
          </button>
        </div>
        <!-- Sorting Radio Buttons Section -->
        <div class="d-flex flex-column" style="gap: 0.5rem; margin-top: 1rem">
          <strong>Sort By:</strong>
          <label>
            <input type="radio" name="sort" value="priceLowToHigh" /> Price: Low
            to High
          </label>
          <label>
            <input type="radio" name="sort" value="priceHighToLow" /> Price:
            High to Low
          </label>
          <label>
            <input type="radio" name="sort" value="rating" /> Average Ratings
          </label>
          <label>
            <input type="radio" name="sort" value="newArrivals" /> New Arrivals
          </label>
          <label>
            <input type="radio" name="sort" value="nameAsc" /> A to Z
          </label>
          <label>
            <input type="radio" name="sort" value="nameDesc" /> Z to A
          </label>
        </div>
      </div>

      <!-- Products Grid -->
      <div class="row mt-4 product-grid">
        <% products.forEach(product => { %>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-4">
          <div class="card">
            <div
              data-id-info="<%= product._id %>"
              id="carousel<%= product._id %>"
              class="carousel slide to-product"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <% product.images.forEach((img, index) => { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                  <img
                    src="<%= img.original_url %>"
                    class="d-block w-100"
                    alt="Book Image"
                    style="
                      max-height: 300px;
                      min-height: 300px;
                      border-radius: 10px;
                      object-fit: cover !important;
                    "
                  />
                </div>
                <% }) %>
              </div>
            </div>
            <div class="card-body text-center">
              <p class="card-title p-0 m-0">
                <strong><%= product.name %></strong>
              </p>
              <p class="card-text text-primary p-0 m-0">
                ₹<%= product.final_price %>
                <small class="text-success">
                  (<%= product.discount %> <% if (product.discount_type ===
                  'fixed') { %> ₹ <% } else if (product.discount_type ===
                  'percentage') { %> % <% } %>) off
                </small>
              </p>

              <p class="card-text p-0 m-0">
                <small><%= product.avg_rating || "Awaiting Review" %></small>
              </p>
              <p class="card-text p-0">
                <% if (product.stock === 'In stock') { %>
                <strong style="color: green"><%= product.stock %></strong>
                <% } else if (product.stock === 'Limited stock') { %>
                <strong style="color: #fb8500"><%= product.stock %></strong>
                <% } else if (product.stock === 'Out of stock') { %>
                <strong style="color: red"><%= product.stock %></strong>
                <% } %>
              </p>
              <button
                class="btn btn-dark btn-sm add-to-cart-btn"
                data-product-id="<%= product._id %>"
              >
                Add to cart
              </button>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </section>

    <!-- footer partial -->
    <%- include("../partials/user/userFooter.ejs") %>

    <!-- helper js file -->
    <script src="/user/helper/shoppingPageHelper.js"></script>

    <!-- logout -->
    <script src="/user/helper/logoutHelper.js"></script>

    <!-- Include Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- pending user clear -->
    <script src="/user/helper/removePendingUser.js"></script>

    <!-- Add to cart helper -->
    <script src="/user/helper/addToCartHelper.js"></script>

    <!-- bootstrap -->
    <%- include("../partials/admin/bootScript.ejs") %>
  </body>
</html>
