<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wallet</title>
    <!-- css -->
    <link rel="stylesheet" href="/user/stylesheets/userWallet.css" />

    <!-- icon link -->
    <%- include("../partials/user/iconLink.ejs") %>

    <!-- bootstrap link -->
    <%- include("../partials/admin/bootLink.ejs") %>
  </head>
  <body>
    <!-- navbar -->
    <header><%- include("../partials/user/userNavbar.ejs") %></header>

    <!-- alert -->
    <%- include("../partials/user/alertMessage.ejs") %>

    <section class="container-main">
      <!-- Sidebar -->
      <%- include("../partials/user/sideBar.ejs") %>

      <div class="content d-flex" style="flex-direction: column">
        <div
          class="d-flex p-3"
          style="
            flex-direction: column;
            background: linear-gradient(to right, #240046, #5a189a);
            color: white;
            width: fit-content;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            max-height: 100px;
            min-width: 250px;
          "
        >
          <h3>Wallet</h3>
          <p>Balance: ₹ <%= wallet && wallet.balance ? wallet.balance : 0 %></p>
        </div>

        <!-- Filter Controls -->
        <div
          id="filterControls"
          class="mb-4 mt-5 d-flex justify-content-center align-items-center d-none"
        >
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="sortOrder"
              id="descOrder"
              value="desc"
              checked
            />
            <label class="form-check-label" for="descOrder">
              <i class="fa-solid fa-arrow-up-wide-short"></i>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="sortOrder"
              id="ascOrder"
              value="asc"
            />
            <label class="form-check-label" for="ascOrder">
              <i class="fa-solid fa-arrow-down-wide-short"></i>
            </label>
          </div>
          <input
            type="date"
            id="dateFilter"
            class="form-control ml-3"
            style="max-width: 200px"
          />
          <button id="clearFilter" class="btn btn-outline-dark btn-sm ml-2">
            clear
          </button>
        </div>
        <% if (transactions.length > 0) {%>
        <div class="mt-4">
          <div class="d-flex" style="justify-content: space-between">
            <h4>Transactions</h4>
            <span>
              <i
                style="cursor: pointer"
                id="toggleFilters"
                class="fa-solid fa-filter"
              ></i>
            </span>
          </div>
          <table
            id="transactionsTable"
            class="table table-striped table-hover custom-table text-center"
          >
            <thead>
              <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <% transactions.forEach((transaction)=> { %>
              <tr>
                <td>
                  <%= moment(transaction.createdAt).format("DD/MM/YYYY") %>
                </td>
                <td><%= moment(transaction.createdAt).format("hh:mm A") %></td>
                <td><%= transaction.type %></td>
                <td>₹<%= transaction.amount %></td>
                <td><%= transaction.description %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <% } else {%>
        <p class="fs-4 text-center">No transactions</p>
        <% } %>
      </div>
    </section>

    <!-- footer partial -->
    <footer><%- include("../partials/user/userFooter.ejs") %></footer>

    <!-- logout -->
    <script src="/user/helper/logoutHelper.js"></script>

    <!-- pending user clear -->
    <script src="/user/helper/removePendingUser.js"></script>

    <!-- wallet helper -->
    <script src="/user/helper/walletHelper.js"></script>

    <!-- Include Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- bootstrap -->
    <%- include("../partials/admin/bootScript.ejs") %>
  </body>
</html>
