<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wallet</title>
    <!-- css -->
    <link rel="stylesheet" href="/user/stylesheets/userWallet.css" />

    <!-- icon link -->
    <%- include("../partials/user/iconLink.ejs") %>

    <!-- bootstrap link -->
    <%- include("../partials/admin/bootLink.ejs") %>
  </head>
  <body>
    <!-- navbar -->
    <header><%- include("../partials/user/userNavbar.ejs") %></header>

    <!-- alert -->
    <%- include("../partials/user/alertMessage.ejs") %>

    <section class="container-main">
      <!-- Sidebar -->
      <%- include("../partials/user/sideBar.ejs") %>

      <div class="content d-flex">
        <div
          class="d-flex p-3"
          style="
            flex-direction: column;
            background: linear-gradient(to right, #240046, #5a189a);
            color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            max-height: 100px;
            min-width: 250px;
          "
        >
          <h3>Wallet</h3>
          <p>Balance: ₹ <%= wallet && wallet.balance ? wallet.balance : 0 %></p>

        </div>
      </div>
    </section>

    <!-- footer partial -->
    <footer><%- include("../partials/user/userFooter.ejs") %></footer>

    <!-- logout -->
    <script src="/user/helper/logoutHelper.js"></script>

    <!-- pending user clear -->
    <script src="/user/helper/removePendingUser.js"></script>

    <!-- Include Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- bootstrap -->
    <%- include("../partials/admin/bootScript.ejs") %>
  </body>
</html>
